.Cell {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  margin: 1px;
  text-align: center;
  transition: all 0.5s linear;

  &:hover {
    opacity: 0.8;
  }

  &.to-remove {
    background-color: #b16a1a;
  }
}
